.info{color:red}
.example-container {
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    width: 100%;
/*     margin-left: 40%;
    margin-top: 20%; */
  }
  
  .example-container > * {
    width: 100%;
    padding:10px;
  }